@charset "UTF-8";
/*
!----------------------- Обнуляющий стиль --------------------!
*/
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
/*
!---------------------- Подключения шрифта -------------------!
*/
@font-face {
  font-family: "Proxima Nova Regular";
  src: url(../font/ProximaNovaRegular/ProximaNova-Regular.woff);
}
@font-face {
  font-family: "Proxima Nova Regular Italic";
  src: url(../font/ProximaNovaRegularItalic/ProximaNova-RegularIt.woff);
}
@font-face {
  font-family: "Proxima Nova Semibold";
  src: url(../font/ProximaNovaSemibold/ProximaNova-Semibold.ttf);
}
@font-face {
  font-family: "Proxima Nova Semibold Italic";
  src: url(../font/ProximaNovaSemiboldItalic/ProximaNova-SemiboldIt.woff);
}
@font-face {
  font-family: "Proxima Nova Bold";
  src: url(../font/ProximaNovaBold/ProximaNova-Bold.ttf);
}
@font-face {
  font-family: "Gilroy Regular";
  src: url(../font/GilroyRegular/Gilroy-Regular.ttf);
}
@font-face {
  font-family: "Gilroy Semibold";
  src: url(../font/GilroySemibold/Gilroy-Semibold.ttf);
}
@font-face {
  font-family: "Nunito Sans Regular";
  src: url(../font/NunitoSansRegular/NunitoSans-Regular.ttf);
}
@font-face {
  font-family: "Nunito Sans Semibold";
  src: url(../font/NunitoSansSemibold/NunitoSans-SemiBold.ttf);
}
@font-face {
  font-family: "Futera PT Heavy";
  src: url(../font/FuturaPTHeavy/FuturaPT-Heavy.ttf);
}
@font-face {
  font-family: "Futera PT Book";
  src: url(../font/FuturaPTBook/FuturaPT-Book.ttf);
}
@font-face {
  font-family: "Banana Brick";
  src: url(../font/BananaBrick/Banana\ Brick.ttf);
}
/*
!------------- переменные и универсальные настройки -------------!
*/
body {
  font-family: "Proxima Nova Semibold";
  font-size: 18px;
  color: var(--text-color);
  background-color: var(--bg-color);
}

.u-container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
}

/*
!---------------var---------------------!
*/
html {
  --text-color: #000000;
  --bg-color: #ffffff;
}

html[data-theme=dark] {
  --text-color: #ffffff;
  --bg-color: #1e1e1e;
}

/*
!-----------------------header---------------------!
*/
.header__container {
  display: flex;
  justify-content: space-between;
  padding-top: 17px;
  padding-bottom: 19px;
  align-items: center;
}
.header__burger {
  display: none;
}
.header__logo {
  font-family: "Banana Brick";
  color: var(--text-color);
  font-size: 32px;
  line-height: 39px;
  transition: 0.3s ease-in-out;
}
.header__logo:hover {
  color: #54a5d4;
}
.header__logo:active {
  color: #5454D4;
}
.header__navbar ul {
  display: flex;
  -moz-column-gap: 16px;
       column-gap: 16px;
}
.header__navbar a {
  font-family: "Proxima Nova Bold";
  font-size: 20px;
  line-height: 24px;
  color: var(--text-color);
  transition: 0.3s ease-in-out;
}
.header__navbar a:hover {
  color: #54a5d4;
}
.header__navbar a:active {
  color: #5454D4;
}
.header__right-box {
  display: flex;
}
.header__theme {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  min-width: 93px;
  height: 42px;
  border: 1px solid #AAAAAA;
  padding: 2px;
  border-radius: 21px;
  margin-right: 40px;
}
.header__theme-box {
  width: 36px;
  height: 36px;
  background-color: #5454D4;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__theme-box img {
  max-width: 22.5px;
  min-width: 22.5px;
  max-height: 22.5px;
  min-height: 22.5px;
}
.header__contact {
  display: flex;
  flex-direction: column;
  margin-right: 31px;
}
.header__phone {
  font-size: 20px;
  color: var(--text-color);
  transition: 0.3s ease-in-out;
}
.header__phone:hover {
  color: #54a5d4;
}
.header__phone:active {
  color: #5454D4;
}
.header__email {
  font-size: 14px;
  color: var(--text-color);
  transition: 0.3s ease-in-out;
}
.header__email:hover {
  color: #54a5d4;
}
.header__email:active {
  color: #5454D4;
}
.header__callback {
  display: flex;
  width: 168px;
  background: #5454D4;
  color: var(--text-color);
  border-radius: 7px;
  align-items: center;
  text-align: center;
  transition: 0.3s ease-in-out;
  border: 1px solid #5454D4;
}
.header__callback:hover {
  background-color: #ffffff;
  color: #5454D4;
}
.header__callback:active {
  background-color: #AAAAAA;
}

/*
!-----------------------main---------------------!
*/
/*
!-----------------------footer---------------------!
*/