@charset "UTF-8";
/*
!----------------------- Обнуляющий стиль --------------------!
*/
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
/*
!---------------------- Подключения шрифта -------------------!
*/
@font-face {
  font-family: "Proxima Nova Regular";
  src: url(../font/ProximaNovaRegular/ProximaNova-Regular.woff);
}
@font-face {
  font-family: "Proxima Nova Regular Italic";
  src: url(../font/ProximaNovaRegularItalic/ProximaNova-RegularIt.woff);
}
@font-face {
  font-family: "Proxima Nova Semibold";
  src: url(../font/ProximaNovaSemibold/ProximaNova-Semibold.ttf);
}
@font-face {
  font-family: "Proxima Nova Semibold Italic";
  src: url(../font/ProximaNovaSemiboldItalic/ProximaNova-SemiboldIt.woff);
}
@font-face {
  font-family: "Proxima Nova Bold";
  src: url(../font/ProximaNovaBold/ProximaNova-Bold.ttf);
}
@font-face {
  font-family: "Gilroy Regular";
  src: url(../font/GilroyRegular/Gilroy-Regular.ttf);
}
@font-face {
  font-family: "Gilroy Semibold";
  src: url(../font/GilroySemibold/Gilroy-Semibold.ttf);
}
@font-face {
  font-family: "Nunito Sans Regular";
  src: url(../font/NunitoSansRegular/NunitoSans-Regular.ttf);
}
@font-face {
  font-family: "Nunito Sans Semibold";
  src: url(../font/NunitoSansSemibold/NunitoSans-SemiBold.ttf);
}
@font-face {
  font-family: "Futura PT Heavy";
  src: url(../font/FuturaPTHeavy/FuturaPT-Heavy.ttf);
}
@font-face {
  font-family: "Futura PT Book";
  src: url(../font/FuturaPTBook/FuturaPT-Book.ttf);
}
@font-face {
  font-family: "Banana Brick";
  src: url(../font/BananaBrick/Banana\ Brick.ttf);
}
/*
!------------- переменные и универсальные настройки -------------!
*/
body {
  font-family: "Proxima Nova Semibold";
  font-size: 18px;
  color: var(--text-color);
  background-color: var(--bg-color);
  position: relative;
  overflow-x: hidden;
}

.u-container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
}

/*
!---------------var---------------------!
*/
html {
  --text-color: #000000;
  --bg-color: #ffffff;
}

html[data-theme=dark] {
  --text-color: #ffffff;
  --bg-color: #1e1e1e;
}

/*
!-----------------------header---------------------!
*/
header {
  background: rgba(23, 25, 29, 0.603);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  position: fixed;
  width: 100%;
  z-index: 50;
}

.header__container {
  position: relative;
}
.header__location {
  display: flex;
  justify-content: space-between;
  padding-top: 17px;
  padding-bottom: 19px;
  align-items: center;
}
.header__burger {
  cursor: pointer;
  width: 24px;
  height: 19px;
  display: none;
  align-items: center;
  position: relative;
}
.header__burger span {
  display: flex;
  width: 24px;
  height: 3px;
  background-color: var(--text-color);
  border-radius: 1.5px;
}
.header__burger::before, .header__burger::after {
  position: absolute;
  content: "";
  width: 18px;
  height: 3px;
  border-radius: 1.5px;
  background-color: var(--text-color);
}
.header__burger::before {
  top: 0;
  left: 0;
}
.header__burger::after {
  bottom: 0;
  right: 0;
}
.header__logo {
  font-family: "Banana Brick";
  color: var(--text-color);
  font-size: 32px;
  line-height: 39px;
  transition: 0.3s ease-in-out;
}
.header__logo:hover {
  color: #54a5d4;
}
.header__logo:active {
  color: #5454D4;
}
.header__burger-exit {
  display: flex;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  width: 23.5px;
  height: 23.5px;
  position: relative;
  transition: 0.3s ease-in-out;
}
.header__burger-exit::before, .header__burger-exit::after {
  content: "";
  display: flex;
  border-radius: 1.5px;
  width: 29.96px;
  height: 3px;
  background-color: #ffffff;
  position: absolute;
  top: 10px;
}
.header__burger-exit::before {
  transform: rotate(45deg);
}
.header__burger-exit::after {
  transform: rotate(135deg);
}
.header__navbar ul {
  display: flex;
  -moz-column-gap: 16px;
       column-gap: 16px;
}
.header__navbar a {
  font-family: "Proxima Nova Bold";
  font-size: 20px;
  line-height: 24px;
  color: var(--text-color);
  transition: 0.3s ease-in-out;
}
.header__navbar a:hover {
  color: #54a5d4;
}
.header__navbar a:active {
  color: #5454D4;
}
.header__right-box {
  display: flex;
}
.header__theme {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  height: 42px;
  border: 1px solid #AAAAAA;
  padding: 2px;
  border-radius: 21px;
  margin-right: 40px;
  position: relative;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.header__theme-bg-cercle {
  position: absolute;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #5454D4;
  display: flex;
  transition: 0.3s ease-in-out;
  right: 56%;
}
.header__theme-box-sun, .header__theme-box-moon {
  position: relative;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__contact {
  display: flex;
  flex-direction: column;
  margin-right: 31px;
  row-gap: 3px;
}
.header__phone {
  font-size: 20px;
  color: var(--text-color);
  transition: 0.3s ease-in-out;
}
.header__phone:hover {
  color: #54a5d4;
}
.header__phone:active {
  color: #5454D4;
}
.header__email {
  font-size: 14px;
  color: var(--text-color);
  transition: 0.3s ease-in-out;
}
.header__email:hover {
  color: #54a5d4;
}
.header__email:active {
  color: #5454D4;
}
.header__callback {
  display: flex;
  width: 168px;
  background: #5454D4;
  color: white;
  border-radius: 7px;
  align-items: center;
  text-align: center;
  transition: 0.3s ease-in-out;
  border: 1px solid #5454D4;
}
.header__callback:hover {
  background: transparent;
  color: #5454D4;
}
.header__callback:active {
  background: #AAAAAA;
}
.header__hidden-navbar {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 100vh;
  position: absolute;
  top: 0%;
  left: -100%;
  transition: 0.3s ease-in-out;
  background: rgba(17, 19, 23, 0.9);
  -webkit-backdrop-filter: blur(2.5px);
          backdrop-filter: blur(2.5px);
  opacity: 0;
}
.header__hidden-navbar ul {
  display: flex;
  flex-direction: column;
  margin: 40px 0 0 40px;
  row-gap: 30px;
}
.header__hidden-navbar a {
  font-family: "Proxima Nova Bold";
  font-size: 32px;
  line-height: 39px;
  color: #FFFFFF;
  transition: 0.3s ease-in-out;
}
.header__hidden-navbar a:hover {
  color: #54a5d4;
}
.header__hidden-navbar a:active {
  color: #5454D4;
}
.header__hidden-navbar-head {
  display: flex;
  padding: 20px 20px 20px 15px;
  justify-content: space-between;
  align-items: center;
}
.header__hidden-navbar-head a {
  font-family: "Banana Brick";
  color: white;
  font-size: 32px;
  line-height: 39px;
  transition: 0.3s ease-in-out;
}
.header__hidden-navbar-phone {
  display: flex;
  justify-content: center;
}
.header__hidden-navbar-phone a {
  padding: 22px 44px;
  font-family: "Proxima Nova Bold";
  font-size: 32px;
  line-height: 39px;
  color: #FFFFFF;
  background-color: #5454D4;
  border-radius: 38px;
}
.header__hidden-navbar-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  margin-bottom: 96px;
}

.active-menu a {
  color: #5454D4;
}

.active-theme {
  right: 2px;
}

/*
!--------------adaptive---------------!
*/
@media (max-width: 1240px) {
  .header__burger {
    display: flex;
  }
  .header__navbar {
    display: none;
    opacity: 0;
  }
}
@media (max-width: 760px) {
  .header__contact {
    display: none;
  }
  .header__callback {
    display: none;
  }
  .header__theme {
    margin: 0;
  }
  .header__theme-box-sun,
  .header__theme-box-moon {
    display: none;
  }
  .header__theme-bg-cercle {
    right: 2px;
  }
}
/*
!-----------------------hero---------------------!
*/
.hero {
  position: relative;
}
.hero__bg1 {
  position: absolute;
  right: 0;
  z-index: 1;
}
.hero__bg2 {
  position: absolute;
  top: 66.83px;
  z-index: 1;
}
.hero__bg3 {
  position: relative;
  display: flex;
  z-index: 2;
  width: 100%;
  background-image: url(../img/images/hero-bg3-min.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding-top: 78px;
}
.hero__bg3-bg {
  position: absolute;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
}

.hero__main {
  margin-top: 139px;
  position: relative;
  z-index: 50;
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  margin-bottom: 120px;
}
.hero__main-left {
  margin-top: 89px;
  max-width: 549px;
}
.hero__main-left h1 {
  font-family: "Proxima Nova Semibold";
  font-size: 48px;
  line-height: 58px;
}
.hero__main-left > p {
  margin-top: 40px;
  font-family: "Proxima Nova Regular";
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 180px;
}
.hero__main-right {
  width: 500px;
  height: 500px;
}
.hero__main-right-img {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #D9D9D9;
}

.u-btn {
  display: inline-flex;
  border-radius: 35px;
  padding: 40px 29px 8px;
  cursor: pointer;
  position: relative;
  height: 70px;
  transition: 0.5s ease-in-out;
}
.u-btn:hover {
  padding: 22px 29px;
}
.u-btn:hover > .u-btn__front-box {
  width: 100%;
  padding: 22px 29px;
}
.u-btn__back-text {
  font-family: "Proxima Nova Bold";
  font-size: 18px;
  line-height: 22px;
  color: #6911AD;
  white-space: nowrap;
}
.u-btn__front-box {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 70px;
  height: 100%;
  background-color: #6911AD;
  padding: 40px 29px 8px;
  border-radius: 35px;
  transition: 0.5s ease-in-out;
}
.u-btn__front-text {
  font-family: "Proxima Nova Bold";
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  white-space: nowrap;
}

/*
!------------------responsive------------------!
*/
@media (max-width: 1097px) {
  .hero__main-left {
    width: 50%;
  }
  .hero__main-right {
    width: 50%;
  }
}
@media (max-width: 760px) {
  .hero__main {
    margin-top: 40px;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }
  .hero__main-left {
    width: 100%;
  }
  .hero__main-right {
    width: 238px;
    height: 238px;
  }
  .hero__main-left > p {
    margin-top: 25px;
    margin-bottom: 140px;
    text-align: left;
  }
  .u-btn__front-box {
    width: 100%;
    padding: 22px 29px;
  }
  .u-btn__front-box:hover {
    background-color: #929292;
  }
  .u-btn__front-box:hover p {
    color: #6911AD;
  }
  .u-btn__front-box:active {
    background-color: transparent;
    border: 1px solid #6911AD;
  }
}
/*
!-----------------------main---------------------!
*/
main {
  position: relative;
  z-index: 49;
}

.main__bg1 {
  position: absolute;
  left: 0;
  top: 1085px;
}
.main__bg2 {
  position: absolute;
  right: 0;
  top: 1224px;
}
.main__bg3 {
  position: absolute;
  right: 0;
  top: 2156px;
}
.main__bg4 {
  position: absolute;
  left: 0;
  top: 2444px;
}
.main__bg5 {
  position: absolute;
  left: 0;
  top: 3610px;
}
.main__bg6 {
  position: absolute;
  right: 0;
  top: 5032px;
}
.main__bg7 {
  position: absolute;
  left: 0;
  top: 5280px;
}
.main__bg-mask {
  background-image: url(../img/images/Noise-min.png);
}

.main-about {
  padding: 120px 43px;
}
.main-about h2 {
  font-family: "Futura PT Heavy";
  font-size: 50px;
  line-height: 64px;
}
.main-about__wrapper {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.main-about__left {
  display: flex;
  flex-direction: column;
  gap: 23px;
  max-width: 570px;
}
.main-about__left p {
  font-family: "Futura PT Book";
  font-size: 18px;
  line-height: 140%;
}
.main-about__right {
  max-width: 575px;
}
.main-about__right ul {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 40px;
}
.main-about__right li {
  width: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 12px;
  text-align: center;
}
.main-about__right-bold-Text {
  font-family: "Futura PT Heavy";
  font-size: 50px;
  line-height: 100%;
  color: #6911AD;
}
.main-about__right-smoll-Text {
  font-family: "Futura PT Heavy";
  font-size: 20px;
  line-height: 26px;
}

/*
!-------------adaptive----------!
*/
@media (max-width: 1273px) {
  .main-about__right li {
    width: 45%;
  }
}
@media (max-width: 1071px) {
  .main-about {
    padding: 120px 15px;
  }
}
@media (max-width: 1018px) {
  .main-about__wrapper {
    flex-direction: column;
  }
  .main-about__left {
    max-width: 100%;
  }
  .main-about__right {
    max-width: 100%;
  }
}
@media (max-width: 443px) {
  .main-about__right-bold-Text {
    font-size: 36px;
  }
  .main-about__right-smoll-Text {
    font-size: 16px;
  }
}
/*
!-----------------------main-boon---------------------!
*/
.main__boon {
  position: relative;
}
.main__boon-bg {
  position: absolute;
  top: -41px;
  width: 100%;
}

.main-boon {
  margin-top: 95px;
}
.main-boon__container h2 {
  font-family: "Proxima Nova Bold";
  font-size: 36px;
  line-height: 44px;
  text-align: center;
}
.main-boon__wrapper {
  margin-top: 40px;
}
.main-boon__wrapper ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
.main-boon__wrapper li {
  max-width: 430px;
  background: rgba(17, 19, 23, 0.5);
  border: 1px solid #4E4E4E;
  -webkit-backdrop-filter: blur(2.5px);
          backdrop-filter: blur(2.5px);
  border-radius: 20px;
  padding: 23px;
  display: flex;
  flex-direction: column;
}
.main-boon__wrapper img {
  width: 70px;
  height: 70px;
}
.main-boon__wrapper h3 {
  margin-top: 28px;
  font-family: "Proxima Nova Bold";
  font-size: 24px;
  line-height: 29px;
}
.main-boon__wrapper h3::after {
  content: "";
  width: 50px;
  height: 3px;
  background-color: #686464;
  display: flex;
  margin-top: 10px;
}
.main-boon__wrapper p {
  margin-top: 15px;
  font-family: "Gilroy Regular";
  font-size: 16px;
  line-height: 22px;
}

@media (max-width: 919px) {
  .main__boon-bg {
    transform: rotate(90deg);
    top: -41px;
    left: -500px;
    min-width: 2550px;
  }
}
/*
!-----------------------main-portfoli----------------!
*/
.main-portfolio {
  position: relative;
  z-index: 49;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 40px;
}
.main-portfolio h2 {
  padding-top: 120px;
  font-family: "Proxima Nova Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
}
.main-portfolio__cards-items {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}
.main-portfolio__cards-item {
  width: 433px;
  height: 362px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-portfolio__cards-item:hover > .main-portfolio__cards-items-hover {
  opacity: 1;
  visibility: visible;
}
.main-portfolio__cards-items-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.main-portfolio__cards-items-btn {
  font-family: "Proxima Nova Regular";
  font-size: 16px;
  line-height: 19px;
  position: absolute;
  top: 15px;
  right: 15px;
  color: #000;
  z-index: 49;
  width: 121px;
  height: 37px;
  border-radius: 10px;
  transition: 0.3s;
}
.main-portfolio__cards-items-hover {
  cursor: pointer;
  width: 93.07%;
  height: 91.71%;
  background: rgba(0, 0, 0, 0.87);
  border-radius: 5px;
  position: relative;
  z-index: 50;
  transition: 0.3s ease-in-out;
  opacity: 0;
  visibility: hidden;
}
.main-portfolio__cards-items-hover:hover > .main-portfolio__cards-items-hover-arrow {
  top: 25px;
  right: 25px;
}
.main-portfolio__cards-items-hover-arrow {
  position: absolute;
  top: 55px;
  right: 55px;
  transition: 0.5s ease-in-out;
}
.main-portfolio__cards-items-hover-info {
  position: absolute;
  font-family: "Proxima Nova Bold";
  font-size: 20px;
  line-height: 24px;
  left: 30px;
  bottom: 30px;
}

.u-menu__items {
  border: 1px solid #4E4E4E;
  display: flex;
  padding: 1px;
  height: 57px;
  align-items: center;
  border-radius: 26px;
}
.u-menu__item a {
  padding: 16px 30px;
  border-radius: 24px;
  font-family: "Proxima Nova Bold";
  font-size: 16px;
  line-height: 19px;
  color: var(--text-color);
  background: transparent;
  transition: 0.3s ease-in-out;
}
.u-menu__item a:hover {
  background: linear-gradient(93.5deg, #1E11AD 12.37%, rgba(105, 17, 173, 0.95) 85.28%);
  padding: 16px 52px;
  color: white;
}

/*
!----------------adaptive------------!
*/
@media (max-width: 699px) {
  .u-menu {
    display: none;
  }
}
@media (max-width: 470px) {
  .main-portfolio__cards-item {
    max-width: 360px;
    max-height: 300px;
  }
}
/*
!---------------main-services-------------------!
*/
.main-services {
  position: relative;
}
.main-services__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.main-services-container {
  padding-top: 120px;
}
.main-services-container__content {
  background: rgba(14, 16, 20, 0.9);
  border: 1px solid #4E4E4E;
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  border-radius: 20px;
  padding: 40px 80px;
}
.main-services-container__content h2 {
  font-family: "Proxima Nova Bold";
  font-size: 36px;
  line-height: 44px;
  text-align: center;
}
.main-services-container__list ul {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
}
.main-services-container__list li {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  max-width: 384px;
  padding: 48px 42px;
  text-align: center;
}
.main-services-container__list h3 {
  font-family: "Nunito Sans Semibold";
  font-size: 28px;
  line-height: 38px;
  text-align: center;
  letter-spacing: -0.750316px;
}
.main-services-container__list p {
  font-family: "Nunito Sans Regular";
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.500211px;
}

/*
!----------------adaptive----------!
*/
@media (max-width: 1397px) {
  .main-services-container__content {
    padding: 40px 0px;
  }
  .main-services__bg {
    transform: rotate(90deg);
    top: -41px;
    left: -500px;
    min-width: 2550px;
  }
}
/*
!-----------------------footer---------------------!
*/