@font-face {
  font-family: 'Proxima Nova Regular';
  src: url(../font/ProximaNovaRegular/ProximaNova-Regular.woff);
}

@font-face {
  font-family: 'Proxima Nova Regular Italic';
  src: url(../font/ProximaNovaRegularItalic/ProximaNova-RegularIt.woff);
}

@font-face {
  font-family: 'Proxima Nova Semibold';
  src: url(../font/ProximaNovaSemibold/ProximaNova-Semibold.ttf);
}

@font-face {
  font-family: 'Proxima Nova Semibold Italic';
  src: url(../font/ProximaNovaSemiboldItalic/ProximaNova-SemiboldIt.woff);
}

@font-face {
  font-family: 'Proxima Nova Bold';
  src: url(../font/ProximaNovaBold/ProximaNova-Bold.ttf);
}

@font-face {
  font-family: 'Gilroy Regular';
  src: url(../font/GilroyRegular/Gilroy-Regular.ttf);
}