.hero {
  position: relative;

  &__bg1 {
    position: absolute;
    right: 0;
    z-index: 1;
  }

  &__bg2 {
    position: absolute;
    top: 66.83px;
    z-index: 1;
  }

  &__bg3 {
    position: relative;
    display: flex;
    z-index: 2;
    width: 100%;
    background-image: url(../img/images/hero-bg3-min.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding-top: 78px;
  }

  &__bg3-bg {
    position: absolute;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
  }
}

.hero {

  &__main {
    margin-top: 139px;
    position: relative;
    z-index: 50;
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    margin-bottom: 120px;
  }

  &__main-left {
    margin-top: 89px;
    max-width: 549px;

    h1 {
      font-family: 'Proxima Nova Semibold';
      font-size: 48px;
      line-height: 58px;
    }

    &>p {
      margin-top: 40px;
      font-family: 'Proxima Nova Regular';
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 180px;
    }
  }

  &__main-right {
    width: 500px;
    height: 500px;
  }

  &__main-right-img {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #D9D9D9;
  }
}

.u-btn {
  display: inline-flex;
  border-radius: 35px;
  padding: 40px 29px 8px;
  cursor: pointer;
  position: relative;
  height: 70px;
  transition: 0.5s ease-in-out;

  &:hover {
    padding: 22px 29px;
  }

  &:hover>.u-btn__front-box {
    width: 100%;
    padding: 22px 29px;
  }

  &__back-text {
    font-family: 'Proxima Nova Bold';
    font-size: 18px;
    line-height: 22px;
    color: #6911AD;
    white-space: nowrap;
  }

  &__front-box {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 70px;
    height: 100%;
    background-color: #6911AD;
    padding: 40px 29px 8px;
    border-radius: 35px;
    transition: 0.5s ease-in-out;
    
  }

  &__front-text {
    font-family: 'Proxima Nova Bold';
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    white-space: nowrap;
  }
}

/*
!------------------responsive------------------!
*/

@media (max-width: 1097px) {
  .hero__main-left {
    width: 50%;
  }

  .hero__main-right {
    width: 50%;
  }
}

@media (max-width: 760px) {
  .hero__main {
    margin-top: 40px;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }

  .hero__main-left {
    width: 100%;
  }

  .hero__main-right {
    width: 238px;
    height: 238px;
  }

  .hero__main-left {
    &>p {
      margin-top: 25px;
      margin-bottom: 140px;
      text-align: left;
    }
  }

  .u-btn__front-box {
    width: 100%;
    padding: 22px 29px;

    &:hover {
      background-color: #929292;
    }

    &:hover p {
      color: #6911AD;
    }
    &:active{
      background-color: transparent;
      border: 1px solid #6911AD;
    }
  }
}